NEXT_PUBLIC_SITE_URL=https://tu-dominio.com
NEXT_PUBLIC_SUPABASE_URL=https://hnjytbjsisotroaxxskd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhuanl0YmpzaXNvdHJvYXh4c2tkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2Mjc4ODMsImV4cCI6MjEwMzIwMzg4M30.WAo0ZK7KsRCCG3Cpk9Lk24hrEkZC0X1TNFw9K29pM_0
